# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
local_settings.py

# Editor / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log
.venv313/
